main .popular-courses {
    font-family: $font;
    margin-top: 100px;
    width: 100%;
    // border: 2px solid;

    .row {

        @include for-tablet-landscape-up{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .col-md-6{
                width: 100%;
            }
        }

        @include for-mobile-landscape-up{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .col-md-6{
                width: 100%;
            }
        }

        .col-7 {
            // border: 3px solid hotpink;

            .img {
                // border: 4px solid green;
                text-align: center;

                

                img {
                    height: 484.572509765625px;
                    width: 414.5475769042969px;

                    @include for-mobile-landscape-up{
                        height: 414.572509765625px;
                        width: 374.5475769042969px;
                    }
                }
            }
        }

        .col-5 {
            .texts {
                padding: 80px 80px;
                article {
                    hr {
                        width: 94px;
                        height: 7px;
                        background: #E74040;
                    }

                    h2 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 50px;
                        letter-spacing: 0.2px;
                        color: #252B42;
                    }

                    p {
                        padding-top: 10px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: #737373;
                    }

                    a {
                        padding-top: 10px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        color: #96BB7C;
                    }
                }
            }
        }
    }

}