main .education {
    font-family: $font;
    padding: 0 100px;
    margin-top: 100px;



    .education__texts {

        article {
            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: $primary-green;
            }

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.1px;
                color: #252B42;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;
            }
        }
    }


    .row {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include for-tablet-landscape-up {
            .col-md-6 {
                width: 50%;
                padding-bottom: 15px;
                justify-content: center;
                align-items: center;
            }
        }

        @include for-mobile-landscape-up {
            .col-sm-12 {
                width: 100%;
                padding-bottom: 15px;
                align-items: center;
                justify-content: center;

            }
        }

        .col-4 {
            .expertTeacher-card {
                // border: 2px solid hotpink;
                padding: 0 20px;
                width: 90%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                .education-image {
                    img {}

                }

                .education-texts {
                    article {
                        #free {
                            padding-top: 20px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0.1px;
                            color: #252B42;

                        }

                        #education-parag {
                            padding-top: 25px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                            color: #737373;
                        }

                        #education-price {
                            color: $primary-green;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 50px;
                            letter-spacing: 0.2px;
                        }

                        #education-month {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                            color: #8EC2F2;
                        }
                    }
                }

                .education-button {
                    margin-top: 25px;

                    button {
                        width: 100%;
                        padding: 15px 70px;
                        background-color: $primary-green;
                        border: none;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: white;
                    }
                }

                .education-check {
                    margin-top: 20px;

                    h6 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        color: #252B42;
                        padding-top: 20px;


                    }

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}